<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Todos</title>

</head>
<body>
<div class="container my-2" align="center">

    <h3>Todo List</h3>
    <!-- todo:  add todo-->
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- todo:  add todo-->
        </tbody>
    </table>
</div>
</body>
</html>